<div id="modifyAllUsers" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Редактирование пользователей</h4>
            </div>
            <ul class="modal-body">
                <li ng-repeat="user in vm.allUsers">
                    {{user.username}} Роль: "{{user.role}}"
                    - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
                </li>
            </ul>
        </div>
    </div>
</div>