<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="single-page-nav sticky-wrapper" id="tmNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#section1">Проекты</a></li>
                <li><a href="#section2">Задачи</a></li>
                <li><a href="#section3">Пользователи</a></li>
            </ul>
        </div>
    </div>
</nav>


<!--Список проектов-->

<div id="section1">
    <section id="projects-area" class="projects-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-8 col-lg-4 text-right">
                    <h4>Здравствуйте, {{vm.user.username}}. Вы "{{vm.user.role}}"</h4>
                    <p>
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modifyUser">
                            Редактировать профиль
                        </button>
                        <a href="#/login" class="btn btn-danger btn-sm">Выйти</a></p>
                </div>

                <div class="col-lg-12">
                    <div class="projects-content">
                        <h1>Проекты:</h1>
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th>Менеджер проекта</th>
                                    <th>Разработчики</th>
                                    <th>Задачи</th>
                                </tr>
                                </thead>
                                <tbody id="tableProjects" style="cursor: pointer;">
                                <tr ng-repeat="project in vm.allProjects">
                                    <td>{{project.projectname}}</td>
                                    <td>{{project.description}}</td>
                                    <td>{{project.manager}}</td>
                                    <td>{{project.developers}}</td>
                                    <td>{{project.tasks}}</td>
                                    <!--<td><button type="button" data-toggle="modal" data-target="#modifyProject">Редактировать-->
                                    <!--</button></td>-->
                                    <!--<td><button type="button" ng-click="vm.deleteProject(project.id)">Удалить</button></td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <button class="btn btn-success" data-toggle="modal" data-target="#createProject">Создать новый
                            проект
                        </button>
                        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
                             ng-if="flash" ng-bind="flash.message"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!--Список задач-->

<div id="section2">
    <section id="tasks-area" class="tasks-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tasks-content">
                        <h1>Задачи:</h1>
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th>Разработчики</th>
                                    <th>Статус</th>
                                    <th>Время выполнения</th>
                                    <th>Дата создания</th>
                                </tr>
                                </thead>
                                <tbody id="tableTasks" style="cursor: pointer;">
                                <tr ng-repeat="task in vm.allTasks">
                                    <td>{{task.taskname}}</td>
                                    <td>{{task.description}}</td>
                                    <td>{{task.developers}}</td>
                                    <td>{{task.status}}</td>
                                    <td>{{task.time}}</td>
                                    <td>{{task.startTime}}</td>
                                    <!--<td><button type="button" data-toggle="modal" data-target="#modifyProject">Редактировать-->
                                    <!--</button></td>-->
                                    <!--<td><button type="button" ng-click="vm.deleteProject(project.id)">Удалить</button></td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <button class="btn btn-success" data-toggle="modal" data-target="#createTask">Создать новую
                            задачу
                        </button>
                        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
                             ng-if="flash" ng-bind="flash.message"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!--Список пользователей-->

<div id="section3">
    <section id="users-area" class="users-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="users-content">
                        <h1>Список пользователей:</h1>
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Логин</th>
                                    <th>Роль</th>
                                    <th>Контактная информация</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in vm.allUsers">
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.middleName}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.role}}</td>
                                    <td>{{user.contact}}</td>
                                    <td>
                                        <button class="btn btn-success" ng-click="vm.modifyRoleUser(user.id)">Сменить
                                            права
                                        </button>
                                        <button class="btn btn-success" ng-click="vm.deleteUser(user.id)">Удалить
                                        </button>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--Редактирование профиля-->

<div id="modifyUser" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Редактирование профиля</h4>
            </div>
            <div class="modal-body">
                <form name="form" ng-submit="vm.modifyUser()" role="form">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                        <label>Фамилия</label>
                        <input type="text" class="form-control" ng-model="vm.user.lastName"
                               required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                        <label>Имя</label>
                        <input type="text" class="form-control" ng-model="vm.user.firstName"
                               required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.middleName.$dirty && form.middleName.$error.required }">
                        <label>Отчество</label>
                        <input type="text" class="form-control" ng-model="vm.user.middleName"
                               required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.projectname.$dirty && form.projectname.$error.required }">
                        <label>Логин</label>
                        <input type="text" class="form-control" ng-model="vm.user.projectname"
                               required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label>Пароль</label>
                        <input type="password" class="form-control" ng-model="vm.user.password"
                               required/>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid"
                            class="btn btn-success"
                    >Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Создание нового проекта-->

<div id="createProject" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h3 class="modal-title">Создание нового проекта</h3>
            </div>
            <div class="modal-body">
                <form name="form" ng-submit="vm.createProject()" role="form">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.projectname.$dirty && form.projectname.$error.required }">
                        <label>Название</label>
                        <input type="text" class="form-control"
                               ng-model="vm.project.projectname" required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                        <label>Описание</label>
                        <input type="text" class="form-control"
                               ng-model="vm.project.description" required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.manager.$dirty && form.manager.$error.required }">
                        <label>Менеджер</label><br>
                        <select class="form-control" ng-model="vm.project.manager">
                            <option ng-repeat="user in vm.allUsers" value="{{user.lastName}}">
                                {{user.lastName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.developers.$dirty && form.developers.$error.required }">
                        <label>Разработчики</label><br>
                        <select class="form-control" ng-model="vm.project.developers" multiple>
                            <option ng-repeat="user in vm.allUsers" value="{{user.lastName}}">
                                {{user.lastName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.tasks.$dirty && form.tasks.$error.required }">
                        <label>Задачи проекта</label><br>
                        <select class="form-control" ng-model="vm.project.tasks" multiple>
                            <option ng-repeat="task in vm.allTasks" value="{{task.taskname}}">
                                {{task.taskname}}
                            </option>
                        </select>
                    </div>
                    <button id="saveNewProject" type="submit" ng-disabled="form.$invalid" class="btn btn-success">
                        Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Редактирование проекта-->

<div id="modifyProject" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h3 class="modal-title">Редактирование проекта</h3>
            </div>
            <div class="modal-body">
                <form name="form" ng-submit="vm.modifyProject()" role="form">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.projectname.$dirty && form.projectname.$error.required }">
                        <label>Название</label>
                        <input type="text" class="form-control"
                               ng-model="vm.project.projectname" required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                        <label>Описание</label>
                        <input type="text" class="form-control"
                               ng-model="vm.project.description" required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.manager.$dirty && form.manager.$error.required }">
                        <label>Менеджер</label>
                        <input type="text" class="form-control" ng-model="vm.project.manager"
                               required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.developers.$dirty && form.developers.$error.required }">
                        <label>Разработчики</label>
                        <input type="text" class="form-control" ng-model="vm.project.developers"
                               required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.tasks.$dirty && form.tasks.$error.required }">
                        <label>Задачи проекта</label>
                        <input type="text" class="form-control" ng-model="vm.project.tasks"
                               required/>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Создание новой задачи-->

<div id="createTask" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h3 class="modal-title">Создание новой задачи</h3>
            </div>
            <div class="modal-body">
                <form name="form" ng-submit="vm.createTask()" role="form">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.taskname.$dirty && form.taskname.$error.required }">
                        <label>Название</label>
                        <input type="text" class="form-control"
                               ng-model="vm.task.taskname" required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                        <label>Описание</label>
                        <input type="text" class="form-control"
                               ng-model="vm.task.description" required/>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.developers.$dirty && form.developers.$error.required }">
                        <label>Разработчики</label><br>
                        <select class="form-control" ng-model="vm.task.developers" multiple>
                            <option ng-repeat="user in vm.allUsers" value="{{user.lastName}}">
                                {{user.lastName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.time.$dirty && form.time.$error.required }">
                        <label>Время выполнения</label>
                        <input type="text" class="form-control" ng-model="vm.task.time"
                               required/>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>