body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: arial, sans-serif;
}

body {
    overflow-x: hidden;
}

h1, .username {
    color: white;
    text-shadow: black 0 0 3px;
}

.table-responsive {
    background-color: rgba(212, 212, 212, 0.75);
    max-height: 80vh;
    overflow-y: auto;
}

#tableProjects, #tableTasks {
    cursor: pointer;
}

.login-section, .register-section {
    height: 85vh;
}

.projects-section {
    height: 100vh;
    padding-top: 70px;
    background-image: url("../../content/img/bg-1.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

.tasks-section {
    height: 100vh;
    background-image: url("../../content/img/bg-2.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

.users-section {
    height: 100vh;
    background-image: url("../../content/img/bg-3.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

/* Навигация */

.single-page-nav {
    text-align: center;
}

.navbar-inverse {
    background-color: rgba(212, 212, 212, 0.75);
}

.navbar-nav > li {
    display: inline-block;
    padding: 5px;
}

.navbar-inverse .navbar-nav > li > a {
    background: rgba(212, 212, 212, 0.75) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-inverse .navbar-nav > li > a.current, .navbar-inverse .navbar-nav > li > a:hover {
    background: rgba(126, 125, 126, 0.75);
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* Footer */

.copy {
    color: #666;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* Скрол вверх */

#scrollUp {
    background-image: url("../../content/img/top.png");
    bottom: 30px;
    right: 20px;
    width: 38px;
    height: 38px;
}