body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: arial, sans-serif;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

h1 {
    color: #fff;
}

table {
    background-color: rgba(175, 175, 175, 0.75);
}


/* Navigation */

.single-page-nav {
    text-align: center;
}

.navbar-inverse {
    background-color: rgba(175, 175, 175, 0.75);
    /*border-color: #383E4C;*/
}

.navbar-nav > li {
    display: inline-block;
    padding: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    background: rgba(175, 175, 175, 0.75) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-inverse .navbar-nav > li > a.current, .navbar-inverse .navbar-nav > li > a:hover {
    background: rgba(126, 125, 126, 0.75);
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}


/* Footer */

.copy {
    color: #666;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}


/* Scrool To top */

#scrollUp {
    background-image: url("../img/top.png");
    bottom: 30px;
    right: 20px;
    width: 38px;
    height: 38px;
}


.projects-section {
    height: 100vh;
    padding-top: 70px;
}

.tasks-section {
    height: 100vh;
}

.users-section {
    height: 100vh;
}

/* Media Queries
----------------------*/