body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.form-control::-webkit-input-placeholder {
    color: black;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color: black;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color: black;
}

.form-control:-ms-input-placeholder {
    color: black;
}


/* Start Main Menu */

header {
    padding: 235px 0;
}

ul#menu {
    background: #40475A none repeat scroll 0 0;
    padding: 6px;
    position: fixed;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 999;
}

.main-menu {
    margin-top: -234px;
}

.main-menu ul {
}

.main-menu ul li {
    display: inline-block;
    padding: 10px;
}

.main-menu ul li a {
    background: #383E4C none repeat scroll 0 0;
    border: 1px solid #646d7c;
    color: #fff;
    font-size: 20px;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.main-menu ul li a:focus,
.main-menu ul li a:hover {
    background: #49505F;
}

.single-page-nav {
    text-align: center;
}


/* Navigation */

.navbar-inverse {
    background-color: #383E4C;
    border-color: #383E4C;
}

.navbar-nav > li {
    display: inline-block;
    padding: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    background: #383E4C none repeat scroll 0 0;
    border: 1px solid #646d7c;
    color: #fff;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-inverse .navbar-nav > li > a.current,
.navbar-inverse .navbar-nav > li > a:hover {
    background: #49505F;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}


/* Footer */

.copy {
    color: #666;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}


/* Scrool To top */

#scrollUp {
    background-image: url("../img/top.png");
    bottom: 30px;
    right: 20px;
    width: 38px; /* Width of image */
    height: 38px; /* Height of image */
}



.projects-section {
    height: 100%;
    padding-top: 70px;
}

.tasks-section {
    height: 100%;
    /* padding-top: 150px;*/
}








/* Media Queries
----------------------*/